## Variables and Data Type

In [15]:
phone_number = 456249 

print(phone_number)

456249

In [16]:
name = "Phitron"

print(name)

Phitron

In [17]:
age = 20 
height = 5.6 
name = "Akash"
is_passed = True

print(type(age), type(height), type(name),type(is_passed))

age = 20.5 

print(type(age))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'float'>

## Taking Input in Python

In [18]:
name = input("What is your name? ")

print(name)

In [19]:
age = input("Age ?")

print(age , type(age))

 <class 'str'>

In [67]:
age = input("Age ?") # string hishebe input nise 

age = int(age) # string k amra int a convert korlam

print(age , type(age))

29 <class 'int'>

In [70]:
height = input("Height ?")

print(height , type(height))

203.4 <class 'str'>

In [22]:
height = float(input("Height ?")) # string 



print(height , type(height))


height = height +0.2

print(height)

20.6 <class 'float'>
20.8

## Operators in Python

In [32]:
x = 10 ; y = 3 

sum = x + y # summation 
sub = x - y # subtraction
mult = x * y # multiplication
div = round(x / y , 2) # division 

rem = x % y # remainder 

print(sum , sub , mult, div , rem)

13 7 30 3.33 1

In [42]:
x = 10 ; y = 3 

greater_than = x > y 

greater_than_equal = (10 >= 10)

print(greater_than , greater_than_equal)


less_than = x < y 

less_than_equal = (10 <= 10)

print(less_than , less_than_equal)



equal =  x==y

print(equal)


not_equal = x != y

print(not_equal)

True True
False True
False
True

## Logical Operator

In [61]:
x = 10 ; y = 5 ; z = 3 

result = (x > y) and (x > z) 


print(result)

True

In [62]:
x = 10 ; y = 5 ; z = 15

result = (x > y) and (x > z) 


print(result)

False

In [63]:
x = 10 ; y = 5 ; z = 15

result = (x > y) or (x > z) 


print(result)

True

In [64]:
x = 10 ; y = 20 ; z = 15

result = (x > y) or (x > z) 


print(result)

False

## Precedence and Associativity

In [71]:
eq = 10 + 10/2 - 5*2 # precedency maintain korbe
print(eq)

eq = (10+10)/2 - 5*2 ## ekhane bracket e part tuku ageh compute hobe 

print(eq)

5.0
0.0

## Problem : Digit Summation

In [ ]:
inp = input()

numbers = inp.split()

x = int(numbers[0]) # 13

y = int(numbers[1]) # 12 

last_digit_of_x = x % 10 
last_digit_of_y = y % 10 

sum = last_digit_of_x + last_digit_of_y 

print(sum)

5